.tour-packages-container {
    padding: 40px 0;
  }
  
  .filter-section {
    margin-top: 20px;
  }
  
  @media (max-width: 960px) {
    .filter-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .filter-section > div {
      margin-bottom: 16px;
    }
  }
  