.approval-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 800px;
  }
  
  .approval-paper {
    padding: 20px;
    width: 100%;
  }
  
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .modal-paper {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-actions {
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .approval-paper {
      padding: 10px;
    }
  
    .modal-paper {
      padding: 10px;
      width: 250px;
    }
  }
  